## Tipos de dados

Há dois tipos básicos de dados no Python: numéricos e string.

Tipo texto:
- str

Os tipos numéricos se subdividem em:

- int
- float 
- complex

Tipo lógico:
- Bool

e tipos binários:
- bytes, 
- bytearray
- memoryview

Não nos concentraremos nos tipos binários por enquanto.

# Tipos numéricos

# *int*

int - variáveis desse tipo podem assumir valores inteiros como 1, -2, 42 e 1729. Podemos inspecionar o tipo do dado armazenado na variável com a função *type()*. *Int* é o tipo natural que uma variável assume quando se atribui um valor inteiro:

In [16]:
a = 42
print(a)
type(a)

42

int

In [18]:
b = -2360873
print(type(b))
b

<class 'int'>

-2360873

Repare que nesta última célula tivemos que usar a função print em conjunto com Type devido a que este comando não estava no final da célula, e não seria impresso. Note também que o output saiu ligeiramente diferente.

## *Float*

O tipo Float armazena um número do tipo "ponto flutuante". Números decimais são armazenados em floats. Em alguns casos, esse tipo de variável armazena a informação com uma precisão arbitrária, mas nunca perfeita, como no caso de se armazenar uma dízima periódica ou um número irracional como o **pi** por exemplo.

Uma atribuição do tipo a = 1.1 atribui um valor do tipo *Float*

In [42]:
a = 2.2
print(a)
type(a)

2.2

float

## Operadores de Atribuição
No Python existem três tipos de operadores de atribuição numérica que visam simplificar a leitura do código.

| Operador       | Exemplo         | Exemplo         |
| :------------- | :----------:    | :----------:    |
| =              | a = 1           | a = 1           |
| +=             | b += 2          | b = b+1         |
| -=             | c -= 3          | c = c - 3       |

### Atribuição múltipla

Se pode também atribuir valor a diversas variáveis em uma única linha como no exemplo abaixo:

```
a, b, c = 1, 42, 1729
```

é equivalente a:
```
a = 1
b = 42
c = 1729
```

# Operadores numéricos

O Python traz nativamente (i.e. sem a necessidade de instalação ou carga de bibliotecas adicionais) os seguintes operadores numéricos:

| Operador       | Operação        |
| :------------- | :----------:    |
| +              | Adição          |
| -              | Subtração       |
| //             | Divisão inteira |
| %              | Resto           |
| /              | Divisão         |
| *              | Multiplicação   |
| **             | Potenciação     |

Esses operadores podem ser utilizados em conjunto com um operador de atribuição ou não. Funcionam para dados numéricos, tanto inteiros quanto floats.

In [19]:
a = 2 + 3
a

5

In [21]:
10 ** 3 + 9 ** 3

1729

In [24]:
a = 12 ** 3
b = 1 ** 3
a + b

1729

#### Abaixo temos alguns exemplos de uso desses operadores:

| Operador       | Expressão       | Resultado    |
| :------------- | :----------:    | :----------: |
| +              |      3 + 2      |      5       |
| -              |      5 - 7      |     -2       |
| //             |      13 // 5    |      2       |
| %              |      13 // 5    |      3       |
| /              |      10 / 5     |      2       |
| *              |       3 * 2     |      6       |
| **             |      3 ** 3     |      9       |

### Ordem de execução

A ordem de execução é a seguinte: primeiro resolve-se operações dentro de parêntesis, em seguida esta ordem: \*\*, \*, / , // , %, + e - . Parêntesis podem ser utilizados para manter a legibilidade do código, no entanto, não se aconselha terem-se linhas de código muito extensas.

Alguns exemplos:

In [29]:
10 ** 3 + 9 ** 3

1729

Neste exemplo de cima se resolvem primeiro as potencias (10 ** 3) e (9 ** 2) e em seguida a soma: 1000 + 729

In [30]:
3 + 2 * 2 ** 2 + 1

12

é bem diferente desse:

In [31]:
(3 + 2) * 2 ** 2 + 1

21

Se quisermos resolver a conta da esquerda para a direita precisaremos de parêntesis ou alterar a ordem das operações.

In [32]:
((3 + 2) * 2) ** 2 + 1

101

In [33]:
2 ** 2 * 2 + 3 + 1

12

Nessa próxima expressão, resolve-se primeiro a conta dos parêntesis, depois a potência, depois a divisão inteira (//) depois a multiplicação, e por último a subtração.

0.   9 * <span style="color:red">(1 + 2)</span> ** 2 - 9 // 5
1.   9 * <span style="color:red">3 ** 2</span> - 9 // 5
2.   9 * 9 - <span style="color:red">9 // 5</span>
3.   <span style="color:red">9 * 9</span> - 1
5.   <span style="color:red">81 - 1</span>
6.   <span style="color:red">80</span>

In [34]:
9*(1+2)**2-9//5

80

## Tipo *Bool*
Variáveis do tipo Bool (Booleanas) são resultados de operadores lógicos. Assumem os valores **Verdadeiro** e **Falso** e possuem operadores próprios.

In [46]:
a = True
a

True

In [47]:
b = False
b

False

In [49]:
type(a)

bool

Na realidade variáveis Booleanas são números armazenados com 1 único bit, sendo 1 = True e 0 = False. Respondem portanto a operadores matemáticos, mas o resultado será um outro tipo numérico, *int* ou *float*.

In [53]:
a * b

0

In [54]:
a + a

2

In [55]:
a * 2.5

2.5

In [56]:
type(a + a)

int

In [57]:
type(a * 2.5)

float

### Operadores *booleanos*

A simbologia lógica, ou booleana, foi inventada por [George Bool](https://pt.wikipedia.org/wiki/George_Boole) e tem uma importância histórica marcante na matemática e nas ciências de computação desde então. Trata-se da representação de conceitos lógicos como "verdadeiro" e "falso" e de operações sobre esses conceitos. 

No Python, tipos *booleanos* recebem dois possíveis valores: *True* e *False* (1 e 0 respectivamente). Há operadores lógicos específicos que retornam booleanos, e têm usos diversos em programação:


| Operador       | Expressão         | Operação          | Resultado    |
| :------------- | :----------:      | :---------------: | :----------: |
| ==             |    3 == 2         |  avalia se ambos os valores são iguais    |    False     |
| >              |    7 > 5          |  avalia se o valor da esquerda é maior que o da direita |    True      |
| >=             |    5 >= 5         |  avalia se o valor da esquerda é maior ou igual ao da direita| True   |
| <              |    7 < 5          |  avalia se o valor da esquerda é menor que o da direita |    False     |
| <=             |    7 <= 7         |  avalia se o valor da esquerda é menor ou igual ao da direita | True  |
| !=             |    3 != 2         |  avalia se o valor da esquerda diferente do da direita |    True      |
| and            | 2 == 2 and 3 == 3 |  avalia se duas expressões são verdadeiras |    True      |
| or             | 2 == 2 or 2 != 1  |  avalia se pelo menos uma expressão é verdadeira  |    True      |
| not            |  not 5 == 7       |  inverte a operação booleana à direita   |    True      |

In [58]:
True & True

True

Variáveis Boolenas podem ser criadas explicitamente através da função bool(). Valores 0 são convertidos em **False** e quaisquer outros valores são convertidos em **True**

In [65]:
a = bool(1)
b = bool(0)
c = bool(10)
d = bool(-1)

True

In [75]:
if True:
    print("###")

SyntaxError: invalid syntax (<ipython-input-75-0763523b4e97>, line 1)

## Tipos str
Dados tipo *str* são cadeias de caracteres, como "batatinha", "1729" e "Rua Saturnino de Brito, 74". Observe que mesmo o "1729" não é um número, sim uma cadeia de cacteres (ou *str*), portanto não é passível de operações matemáticas a menos que seja convertido.

Variáveis com dados tipo *str* podem ser criadas diretamente utilizando-se o operador de atribuição "=" e as aspas simples [' '] ou aspas duplas [" "]. A diferença entre elas ficará claro nos exemplos abaixo:

In [13]:
a = "Rua saturnino de brito, 74"
a

'Rua saturnino de brito, 74'

In [2]:
b = '1729'
b

'1729'

In [3]:
c = "Trapaceou e foi o 'vencedor' da prova"
c

"Trapaceou e foi o 'vencedor' da prova"

In [6]:
d = '"Caminante, no hay camino, se hace el camino al andar" Antonio Machado'
d

'"Caminante, no hay camino, se hace el camino al andar" Antonio Machado'

Se você deseja utilizar aspas simples dentro do valor da variável, utilize aspas duplas para defini-la, e vice versa, como nos exemplos acima. Ou, alternativamente, pode-se utilizar o caractere "\" que significa "escape", e dá significado literal ao caractere seguinte:

In [8]:
d = "\"Caminante, no hay camino, se hace el camino al andar\" Antonio Machado"
d

'"Caminante, no hay camino, se hace el camino al andar" Antonio Machado'

Podemos checar o tipo de um dado através da função nativa type():

In [10]:
type(d)

str

Como você já deve ter percebido, no **jupyter notebook**, quando você roda uma célula com uma variável no final, você vê o feedback com o valor dela na sequencia. O que não ocorre se o nome da variável não estiver no final da célula, nesses casos você pode utilizar a função *print()*.

In [11]:
# No *jupyter notebook*, a chamada de uma variável só retorna *feedback* nos 
#       resultados se for a última chamada da célula

a
b
c

"Trapaceou e foi o 'vencedor' da prova"

In [14]:
# Para ver os valores das três variáveis, é necessário usar uma função como o *print()

print(a)
print(b)
print(c)

Rua saturnino de brito, 74
1729
Trapaceou e foi o 'vencedor' da prova

### Utilizando operadores com strings

Tipos **str** também aceitam nativamente operadores, os quais vão ter efeitos especiais sobre as variáveis.

| Operador       | Expressão       | Resultado    |
| :------------- | :----------:    | :----------: |
| +              |  "Fú" + "Ba"    |    "FúBa"    |
| *              |    "Fú" * 3     |   "FúFúFú"   |

Vamos testar?

In [38]:
"Fú" + "Ba"

'FúBa'

In [39]:
"Fú" * 3

'FúFúFú'

In [40]:
"Fú" + "Ba" * 3

'FúBaBaBa'

In [41]:
("Fú" + "Ba") * 3

'FúBaFúBaFúBa'

### Operadores comparativos com strings:

Também podemos utilizar operadores de comparação com strings. Alguns exemplos:

In [83]:
"asdf" > "asdf"

False

In [84]:
"qwerty" >= "asdf"

True